.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  padding: 3rem;
  gap: 2rem 0;
}

.match-card-grid {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.statistics-heading {
  color: #fff;
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  .match-card-grid {
    width: 100%;
  }
}

.back-btn {
  border: 2px solid #0f172a;
  color: #fff;
  border-radius: 0.25rem;
  font-weight: normal;
  font-size: 1rem;
  outline: none;
  background-color: #0f172a;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.back-btn:hover {
  background-color: transparent;
  color: #0f172a;
}