.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  padding: 3rem;
  gap: 2rem 0;
}

.match-card-grid {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

@media screen and (max-width: 768px) {
  .match-card-grid {
    width: 100%;
  }
}
